*~
Makefile
compile
config.h
config.log
config.status
configure
evolution-rss.spec
libtool
stamp-h1
autom4te.cache/
src/.deps
src/.libs
po/*.gmo
po/stamp-it
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
pixmaps/Makefile
src/GNOME_Evolution_RSS_2.26.server
src/Makefile
src/evolution-import-rss
src/evolution-import-rss.o
src/evolution-rss.schemas
src/org-gnome-evolution-rss.eplug
src/org-gnome-evolution-rss.error
src/*.la
src/*.lo

